<% require_login! %>
<div id="content"></div>


<script>
  <% if current_user %>
    var currentUserId = <%= current_user.id %>
  <% end %>
  var filepickerAPIKey = "<%= ENV['filepicker_api_key']%>";
  $(document).ready(function(){
    AirDnd.initialize();
  });
</script>
