/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require datepicker
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

body.sign_up {
  background-image: url('carousel1.jpg');
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.second-button {
  margin-left: -1pc;
  margin-top: 1pc;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-success {
  border-color: #4A6146;
  background-color: #638C5B;
}

.btn-success:hover {
  border-color:  #4A6146;
  background-color:  #5A7355;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.new-user {
  margin-left: 1pc;
  font-size: 14pt;
}


.carousel-inner {
  margin-top: -35px;
  height: 700px;
  overflow: hidden;
}

.carousel-inner > .item > img {
  display: block;
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
  line-height: 1;
  object-fit: cover;
}

.carousel-caption {
  text-align: left;
  width: 783px;
  top: 30%;
  left: 20%;
  right: 20%;
  bottom: 30%;
  padding-bottom: 30px;
  .form-group {
    margin: auto;
    height: 33px;
  }
}
.profile-form {
  float: left;
}
.user-pic img{
  border-radius: 5px;
  border: white solid thin;
  margin-left: 3pc;
  margin-top: 168px;
  float: left;
  height: 254px;
  width: auto;
}


.search-form {
  // width: 100%;
  border: #C5D6CA solid 3px;
  background-color: #C5D6CA;
  border-radius: 5px;
  // width: 40%;
  // float: left;
  input .controls {
    border: #C5D6CA solid 2px;
    border-radius: 5px;
  }
  input {
    float: left;
  }
  select {
    float: left;
    border: #C5D6CA solid 1px;
    border-radius: 5px;
  }
}

.carousel-caption {
  h1 {
    font-family: "Georgia", serif;
  }
  form {
    // background-color: grey;
    border-radius: 5px;
  }
  h3 {
    margin-top: -8px;
  }
}

// SEARCH SHOW PAGE

#map-canvas {
  // border: thin solid red;
  margin-top: 0px;
  float: left;
  height: 100%;
  width: 30pc;
  overflow: hidden;
}

.search-show {
  margin-top: -20px;
  height: 100%;
}

.campaign-previews {
  width: 100%;
  height: 100%;
}

.campaign-preview {
  border-radius: 5px;
  border: thin solid #E9F0ED;
  width: 50%;
  min-width: 20pc;
  float: left;
  height: 425px;
  margin-bottom: 0.5pc;
}

.campaign-preview-glow {
  border-color: #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

#float-center {
  float: left;
  position: relative;
  right: -50%;
  text-align: left;
}

@media (max-width: 1250px) {
  .campaign-preview {
    // border: thin solid yellow;
    width: 100%;
    float: left;
  }

  #preview-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3px;
  }
}

.float-center {
  margin: auto;
  position: relative;
  right: 50%;
}

#preview-photo img{
  height: 20pc;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 3px;
}

#photo-caption {
  margin-top: -42px;
  margin-left: 1pc;
  z-index: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#preview-description {
  margin: 1pc;
  margin-top: 20px;
  color: grey;
}

#preview-info {
  float: left;
  width: 85%;
  height: 100%;
}

#preview-players {
  float: right;
  font-size: 20pt;
  color: #6E8A5C;
  height: 100%;
  text-align: right;
}

.search-results {
  padding-left: 1pc;
  padding-right: 1.5pc;
  height: 100%;
  // border: thin solid red;
  overflow-y: scroll;
}

#filters {
  margin-top: 1pc;
  padding: 1px;
  height: 29px;
  width: 100%;
  // border: thin solid #E9F0ED;
  border-radius: 5px;
  margin-bottom: 1pc;
  // background-color: #F0F2ED;
  .form-control {
    // border: thin solid #F0F2ED;
    float: left;
    height: 1.5pc;
    z-index: 0;
    position: relative;
  }
  .form-control:focus {
    z-index: 1;

  }
  #name {
    width: 40%;
  }
  .location {
    width: 60%;
  }
  #style {
    width: 20%;
  }
  #system {
    width: 20%;
  }
  #setting {
    width: 30%;
  }
  #players {
    width: 30%;
  }
}

.date-wrapper {
  // color: grey;
}




/* LOG IN AND SIGN UP PAGE */

.session-form {
  margin-top: 5pc;
  margin-left: 10%;
  color: white;
  width: 30%;
}

.session-form .form-control {
  width: 20pc;
}

/* NOT SURE */

.profile-form {
  margin-top: 5pc;
  margin-left: 10%;
  color: white;
  width: 30%;
}

.profile-form .form-control {
  width: 20pc;
}

/* CAMPAIGN SHOW PAGE */

.campaign-show {
  // background-color: yellow;
  margin-left: 1pc;
  width: 100%;
  border: solid thin red;
}

#campaign-title {
  height: 40px;
}

#campaign-title-form {
  margin-top: 20px;
  height: 40px;
}

#editCampaignPrefModal {
  text-align: center;
}

.thumbnail {
  float: left;
  margin-right: 0;
  padding: 0;
  height: 3pc;
  width: 3pc;
  img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
}

.campaigns-show {
  width: 100%;
  position: absolute;
}

.pagination {
  margin-top: 8px;
  margin-bottom: -5px;
}

.campaign-body {
  // background-color: pink;
  // padding: 1pc;
  width: 50pc;
  margin-left: 3pc;
  float: left;
  min-height: 50pc;
  // border: solid thin green;
}

.campaign-photos {
  float: left;
  margin-top: 1pc;
  margin-bottom: 0.5pc;
  img {
    width: 100%;
  }
}

.campaign-thumbnails {
  border-radius: 5px;
  border: solid thin #E6E6E6;
  margin-top: 0.5pc;
  margin-left: 0px;
  width: 50pc;
  .thumbnail {
    margin-top: 0.5pc;
    margin-left: 0.5pc;
    margin-bottom: 0.5pc;
  }
}

.main-photo {
  position: relative;
  width: 50pc;
  margin-left: 14px;
  img {
    border-radius: 3px;
  }
}

#add-photo-btn {
  border: none;
  position: absolute;
  margin-left: 45.5pc;
  margin-top: 1pc;
}

.edit-campaign-md {
  border: none;
  margin-left: 1pc;
}

.campaign-header {
  // display: block;
  margin-left: 3pc;
  width: 50pc;
  // margin: auto;
  background-color: white;
  // border: solid thin black;
}

.campaign-info {
  float: left;
  border: solid thin #E6E6E6;
  border-radius: 5px;
  width: 50pc;
  margin-left: 0;
  padding: 1pc;
  padding-top: 0;
}

.campaign-side {
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-top: 16px;
  // height: 50pc;
  // min-width: 25pc;
  min-width: 160px;
  width: 35%
  // float: right;
}

.campaign-join {
  border-radius: 5px;
  border: thin solid #E6E6E6;
  padding-bottom: 1pc;
  width: 100%;
  h3 {
    margin-bottom: 1pc;
  }
  h1 {
    font-family: "Georgia", serif;
    color: #46614D;
  }
}

.user-previews {
  margin-top: 0.5pc;
}

.user-preview {
  padding: 0.5pc;
  width: 100%;
  #user-info {
    display: inline-block;
  }
  #request-response {
    display: inline-block;
  }
  h5 {
    margin-top: 3px;
  }
  h5:hover {
    cursor: pointer;
    text-shadow: #EAFFD1 0.1em 0.1em 0.2em;
  }
  .btn {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
  campaign-side: {
    width: 1000px;
  }
  .campaign-join {
    width: 1000px;
  }
  .campaign-host {
    width: 100%;
  }
}

.campaign-host {
  margin-top: 1pc;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 0.5pc;
  margin-bottom: 2pc;
  border: thin solid #E6E6E6;
  h3 {
    font-family: "Georgia", serif;
    color: #46614D;
  }
  h5 {
    color: #BCC2C4;
    line-height: 50%;
  }
  img {
    margin-top: 1pc;
    height: auto;
    max-width: 250px;
    border-radius: 5px;
  }
}

.approved-members {
  border-radius: 5px;
  border: thin solid #E6E6E6;
  position: absolute;
  width: 35%;
  padding-bottom: 1pc;
  .member-show {
    height: 81px;
    width: 100%;
    margin-left: 1pc;
    margin-bottom: 8px;
    padding: 8px;
  }
  #member-info {
    font-size: 14pt;
    float: left;
  }
  #member-thumb {
    height: 65px;
    width: 65px;
    border-radius: 3px;
    margin-right: 8px;
    background-color: #E6E6E6;
  }
}


/* NEW CAMPAIGN FORM */

.campaigns-new {
  margin-top: -20px;
  // background-image: url('thisguy.jpg');
  background-size: cover;
}

.host-onboarding {
  text-align: right;
  float: right;
  width: 100%;
  height: 100%;
  border: #6E8A5C thin solid;
}

.datepicker.dropdown-menu {
  z-index: 5000;
}

.pac-container {
  z-index: 5000;
}

.host-header {
  margin-top: 0px;
  width: 100%;
  height: 925px;
  float: left;
  color: white;
  text-align: left;
  background-image: url('thisguy.jpg');
  background-size: cover;
  h1 {
    margin-left: 1pc;
    font-size: 50pt;
  }
  p {
    margin-left: 1pc;
    font-size: 20pt;
  }
  button {
    margin-left: 1pc;
  }
}

/* NAV BAR */

.navbar {
  border-radius: 0px;
  z-index: 500;
}

.navbar-brand img {
  height: 65px;
  position: absolute;
  top: 0px;
  z-index: 1000;
}

.navbar-nav {
  margin-left: 120px;
  height: 50px;
}

$bgDefault      : #222621;
$bgHighlight    : #394037;
$colDefault     : white;
$colHighlight   : #fefdfd;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus {
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}

/* neighborhood */

.neighborhood-guide {
  .section-intro {
    color: #595C50;
    margin-top: 2pc;
    margin-left: 8pc;
  }
}

/* FOOTER */


.dm-footer {
  margin-top: 825px;
  height: 100%;
  .push {
      height: 80px; /* same as the footer */
  }
  .footer-wrapper {
    padding: 1pc;
    color: white;
    background-color: #131712;
    position: relative;
    height: 100%;
    .row {
      margin-bottom: 2pc;
    }
    ul {
      margin-top: 1pc;
      font-size: 10pt;
      list-style: none;
      margin-left: -38px;
    }
  }
}

.push {
    height: 80px; /* same as the footer */
}
.footer-wrapper {
  padding: 1pc;
  color: white;
  background-color: #131712;
  position: relative;
  height: 100%;
  .row {
    margin-bottom: 2pc;
  }
  ul {
    margin-top: 1pc;
    font-size: 10pt;
    list-style: none;
    margin-left: -38px;
  }
}
