<div class='map-info'>
  You can alter your search by moving the map, or try filtering your search results by choosing a campaign style, setting, system, or number of players.<br>
</div>
<div class='search-map' id='map-canvas'></div>
<div class='search-results'>
  <div class='form-group' id='filters'>
  </div>
  <div id='results'>
    <div class='campaign-previews'>
    </div>
  </div>
</div>

