<div class='search-map' id='map-canvas'></div>
<div class='search-results'>
  <div class='form-group' id='filters'>
  </div>
  <div id='results'>
    <div class='campaign-previews'>
    </div>
  </div>
</div>

